// imports
@import "./variables.scss";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-font;
}

//components
@import "./components/input.scss";
@import "./components/button.scss";
@import "./components/sidebar.scss";
@import "./components/chat.scss";
@import "./components/spinner.scss";
@import "./components/settings.scss";
@import "./components/scroll.scss";
@import "./components/cardCategory.scss";
@import "./components/select.scss";
@import "./components/createPost.scss";
@import "./components/cardPost.scss";
@import "./components/inputMessage.scss";
@import "./components/navbar.scss";
@import "./components/footer-sideBar.scss";
@import "./components/header-sideBar.scss";
@import "./components/menu.scss";
@import "./components/mulselect.scss";
@import "./components/inputSearch.scss";
//views
@import "./views/Auth.scss";
@import "/views/Home.scss";

//responsive

@import "./views/mobile/components/sidebars.scss";
@import "./views/mobile/components/chat.scss";
@import "./views/mobile/components/toggle.scss";
