

$color-primary: rgb(160, 17, 48);
$background-color: rgb(46, 46, 46);
$color-font: rgb(241, 241, 241);
$background-input: rgb(27, 27, 27);
$background-sideBar: rgb(36, 36, 36);
$width-sidebar: 25rem;
$width-container-auth: 20rem;

$height-navbar: 3rem; 
$height-inputMessage: 4rem;