.btn-primary-color {
  background: $color-primary;
  color: #ffffff;
  border: none;
  width: 6rem;
  border-radius: 500px;
  &:hover {
    background: $color-primary;
    outline: none;
    color: #ffffff;
    text-shadow: 0 0 2px #ffffff;
    border: none;
  }
  &:focus {
    background: $color-primary;
    outline: none;
    box-shadow: none;
    opacity: 0.9;
  }
}
.btn-send {
  color: $color-primary;
  border: none;
  border-radius: 50%;
  text-shadow: 0 0 3px $color-primary;
  font-size: 1.8em;
  &:hover {
    color: $color-primary;
  }
  &:focus {
    outline: none;
    box-shadow: none;
    opacity: 0.9;
  }
  @media screen and (max-width: 992px) {
    font-size: 1.3em;
  }
}
.btn-view-more {
  width: 100%;
  text-transform: uppercase;
  background: rgba(83, 83, 83, 0.3);
  margin: 1rem;
  color: #ffffff;

  border-bottom: 2px ridge $color-tertiary;
  border-left: 2px ridge $color-tertiary;
  box-shadow: 0 0 2px $color-tertiary;
  font-weight: 900;
  font-size: 1.1em;
  border-radius: 0;
  &:hover {
    color: #ffffff;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 2px $color-tertiary;
    opacity: 0.9;
  }
}
