.cardMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(#181818, 0.75);
  box-shadow: 0 0 5px rgba(#000000, 0.5);
  max-width: 100%;
  min-width: 40%;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  @media screen and (min-width: 992px) {
    max-width: 40rem;
  }

  &:after {
    content: "";
    height: 2px;

    width: 100%;
    background: $color-primary;
    box-shadow: 0 0 3px $color-primary;
  }
  img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    box-shadow: 0 0 1px #ffffff;
  }
  p {
    margin: 0;
    padding: 0;
  }

  .card-body {
    display: flex;
    padding: 0.5rem;
    width: 100%;
  }
  .user {
    color: $color-primary;
    text-shadow: 0 0 1px rgba($color-primary, 0.3);
    font-weight: 900;
    font-size: 0.8em;
    text-transform: capitalize;
  }
  .date {
    font-size: 0.5em;
  }
  .card-text {
    padding-right: 0.5rem;
    font-size: 1em;
    line-height: 1em;
  }
  .info {
    position: relative;
    bottom: 0.5rem;
  }

  &.other {
    &:after {
      background: $color-secondary;
      box-shadow: 0 0 3px $color-secondary;
    }
    .user {
      color: $color-secondary;
      text-shadow: 0 0 1px rgba($color-secondary, 0.3);
    }
  }
}
