.chat {
  margin-left: 25rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .messages,
  .initMessage {
    height: calc(100vh - (8rem));
    padding: 1rem;
    background: rgb(56, 56, 56);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
  }
  .initMessage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
