.chat {
  margin-left: 25rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .messages,
  .initMessage {
    padding: 1rem;
    min-width: 100%;
    background: radial-gradient(#00000000, rgba(0, 0, 0, 0.6)),
      url("../../img/247.jpg") center no-repeat;
    background-size: cover;
    height: calc(100vh - (8rem));
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
  }
  .initMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    .message {
      font-weight: 900;
      font-size: 2rem;
      text-shadow: 0 0 3px #ffffff;
    }
    img {
      width: 5rem;
      animation: graphql infinite 5s linear;
    }
    @keyframes graphql {
      to {
        transform: rotate(360deg);
      }
    }
  }
  .messages {
    display: flex;
    flex-direction: column;
    .inner {
      display: flex;
      flex-direction: column-reverse;
      flex-grow: 1;
    }
  }
}
