.chat {
  margin-left: 25rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .nav {
    height: 3rem;
  }
  .messages {
    height: calc(100vh - (4rem));
    padding: 1rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
  }
  .inputMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    height: 4rem;
    input {
      width: 85%;
      height: 2rem;
      background: rgba(0, 0, 0, 0.5);
      color: $color-font;
      border: none;
      margin: 0.5rem;
      border-radius: 5px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
      padding-left: 2rem;
      &:focus {
        outline: none;
      }
    }
    @media screen and (max-width: 768px) {
      input {
        width: 75%;
      }
    }
    @media screen and (max-width: 576px) {
      input {
        width: 65%;
      }
    }
  }
}
