.dropdown {
  .dropdown-menu {
    border-radius: 0;
    border-left: 2px solid $color-secondary;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 1px #ffffff;
  }
  .btn {
    .notifications {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1rem;
      height: 1rem;
      left: 1.5rem;
      font-size: 0.4em;
      border-radius: 50%;
      background: #ffffff;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
      color: black;
    }
    &:focus {
      i {
        color: $color-secondary;
      }
    }
  }
}
