.sideBar {
  header {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgba(201, 125, 125, 0.1);
    padding: 1rem;

    h1 {
      font-size: 1.5em;
    }
    .logo {
      display: flex;
      align-items: center;
      img {
        width: 2em;
      }
    }
  }
}
