.controlSwitch {
  display: flex;
  justify-content: center;
  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    font-size: 1em;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:after {
      content: "";
      width: 0;
      height: 2px;
      transition: all 0.2s ease-in-out;
      background: $color-primary;
    }
    &.active {
      text-shadow: 0 0 0.4px $color-font;
      transform: translateY(1px);
      &:after {
        width: 100%;
      }
    }
  }
}
.containerAuth {
  width: $width-container-auth;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .forms {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .error {
    position: relative;
    top: -0.5rem;
    color: red;
    margin: 0;
    font-size: 0.8em;
  }
  .message-correct {
    color: greenyellow;
    position: relative;
    top: -0.5rem;
    margin: 0;
    font-size: 0.8em;
  }
}
.pageAuth {
  min-height: 100vh;
  display: flex;
  background: $background-color;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.form-group {
  width: 100%;
  display: flex;
  justify-content: center;
}
.formSignIn {
  display: flex;
  position: relative;
  width: $width-container-auth;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  overflow: hidden;
  align-items: center;
  transition: all.3s ease-in-out;
  transform: translateX(-100%);

  &.isSignIn {
    transform: translateX(50%);
  }
}
.formSignUp {
  display: flex;
  position: relative;
  width: $width-container-auth;
  flex-direction: column;
  justify-content: flex-end;
  height: auto;
  padding: 1rem;
  align-items: center;
  transition: all.3s ease-in-out;
  transform: translateX(-50%);

  &.isSignIn {
    transform: translateX(100%);
  }
}
.loadPhoto {
  width: 5rem;
  height: 5rem;
  background: rgb(238, 238, 238);
  border-radius: 50%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px rgb(235, 235, 235);
  cursor: pointer;
  &:hover {
    opacity: 0.9;
    i {
      text-shadow: 0 0 1px $color-primary;
    }
  }
  &:focus {
    box-shadow: 0 0 3px rgb(235, 235, 235);
    outline: none;
  }
  i {
    color: $color-primary;
    font-size: 1.6em;
  }
  img {
    object-fit: fill;
    width: 5rem;
    height: 5rem;
  }
  .spinner-grow {
    width: 2rem;
    height: 2rem;
    margin: 0;
  }
}
