.toggle {
  width: 1.2rem;
  cursor: pointer;
  display: none;
  div {
    height: 1.5px;
    box-shadow: 0 0 2px $color-primary;
    width: 100%;
    background: $color-primary;
    transition: all ease 0.3s;
    margin-bottom: 0.4rem;
    opacity: 0.9;
  }
  &:hover {
    :first-child {
      transform: translateY(-0.1rem);
    }
    :last-child {
      transform: translateY(0.1rem);
    }
  }
  &:active {
    opacity: 0.5;
  }

  @media screen and (max-width: 992px) {
    display: inline-block;
  }
}
